<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Diskcord</title>
        {% else %}
        <title>Diskcord</title>
        {% endif %}

        <link rel="icon" href="{{ url_for('static', filename='photos/Diskcord.svg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
    </head>
    <body>
        <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


        <div class='nav center'>
                {% if current_user.is_anonymous == False %}
                <a href='{{ url_for("index") }}' class='nav_entry'>Home</a>
                <a href='{{ url_for("profile") }}' class='nav_entry'>Profile</a>
                <a href='{{ url_for("logout") }}' class='nav_entry'>Logout</a>
                {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>