{% extends 'base.html' %}

{% block content %}
    <div style='margin:auto; border: 10px solid #7289da; border-radius: 5px; outline: solid 5px #2c2f33; width: 90%;'>
        <div class='scroll' id='messages'></div>
        <div>
            <input type='text' id='message_box' class='message_box' placeholder='Message'></input>
        </div>
    </div>

    <script>
        setInterval(updateMessages, 500);
        function updateMessages()
        {   
            $.ajax({
                url: '/messages',
                type: 'get',
                success: function(response){
                    $('#messages').html(response);
                }
            });
        };

        $('#message_box').keyup(function(event){
            var text = $(this).val();

            if (event.key === 'Enter' && text != ''){
                
                $.ajax({
                    url: '/sendMessage',
                    type: 'get',
                    data: {message_content : text},
                });

                $('#message_box').val('');
            }
        });
    </script>

{% endblock %}