{% extends 'base.html' %}

{% block content %}
    <h1 class='title center'>Hello, {{ current_user.username }}</h1>


    <div class='scroll' id='messages'></div>
    
    
    <div>
        <input type='text' id='message_box' class='message_box' placeholder='Message'></input>
    </div>

    <script>
        setInterval(updateMessages, 500);
        function updateMessages()
        {   
            $.ajax({
                url: '/messages',
                type: 'get',
                success: function(response){
                    $('#messages').html(response);
                }
            });
        };

        $('#message_box').keyup(function(event){
            var text = $(this).val();

            if (event.key === 'Enter' && text != ''){
                
                $.ajax({
                    url: '/sendMessage',
                    type: 'get',
                    data: {message_content : text},
                });

                $('#message_box').val('');
            }
        });
    </script>

{% endblock %}